DATABASE_URL=postgresql://usuario:password@host:5432/postgres?options=-csearch_path%3Dpublic
JWT_SECRET_KEY=cambiar-en-produccion
JWT_EXPIRE_MINUTES=60

# Keycloak / SSO (HU04)
KEYCLOAK_SERVER_URL=http://127.0.0.1:8080
KEYCLOAK_REALM=inverclick
KEYCLOAK_CLIENT_ID=inverclick-api
KEYCLOAK_CLIENT_SECRET=inverclick-dev-client-secret
KEYCLOAK_REDIRECT_URI=http://127.0.0.1:8000/auth/keycloak/callback
